/* Default styles for the navbar */
.navbar-nav {
    display: flex;
    justify-content:space-between;
    width:100vw;
    background-color: blue;
}
.bg-primary{
    width:100vw;
}
.mobile .navbar-nav .nav-item .nav-link{
    color: white;
}
/* Media query for small screens */
@media (min-width: 576px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        
    }

    .navbar-nav li {
        padding-right: 10px;
        margin-bottom: 10px; /* Add margin between items on small screens */
    }
}
@media (min-width:768px)
{
    .navbar-nav{
        
        flex-direction:column;
        align-items: center;
        width: 100vw;
    }
    .mobile ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100vw;
        
    }
    .mobile ul li{
        justify-content: space-between;
        padding-right:10px;
    }
}
@media (min-width:390px)
{
    .navbar-nav{
        
        flex-direction:column;
        align-items: center;
        width: 100vw;
    }
    .mobile ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100vw;
        
    }
    .mobile ul li{
        justify-content: space-between;
        padding-right:10px;
    }
}
@media (max-width:992px)
{
    .navbar-nav{
        
        flex-direction:column;
        align-items: center;
        width: 100vw;
    }
    .mobile ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100vw;
        
    }
    .mobile ul li{
        justify-content: space-between;
        padding-right:10px;
    }
}